*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

/*Add an Image as the Background and Add a Gradient To It*/
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url(images/usa_weightlifting_tokyo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*Change the Position of the Tabs from Left to Right*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center; 
}

/*Changing the Size and Location of the Northeastern Logo*/
nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

/*Make the Tabs Go Left to Right*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 36px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 50vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition:1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/*------------about page---------------*/


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/group_photo.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}




.heading {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    margin: 10px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.heading p{
    padding-top: 10px;
}

.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member{
    text-align: center;
    margin: 30px;
    border: 1px solid #FFF;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    min-width: 300px;
    width: 30vw;
    padding: 20px;
    right: 30px;
}

.member:hover{
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
}

.member h2{
    font-size: 16px;
    margin: 10px;
    color: gray;
}

.member img{
    width: 200px;
}


@media(max-width: 600px){
    .member{
        width: 250px;
    }
}